.outrosPosts h3 {
    font-family: var(--fonte-secundaria);
    margin-bottom: 2rem;
    font-size: 2.5rem;
    line-height: 60px;
    margin-top: 4rem;
}

.postsCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

@media (max-width: 1100px) {
    .postsCards {
        margin-top: 0;
        padding: 2rem 1.5rem 3.625rem;
    }
}

@media (max-width: 744px) {
    .postsCards {
        padding: 2rem 1rem 3rem;
    }
}